@import '../../../CommonStyles.scss';
.appointment-creator
{
   
    font-size: 1.5rem;
    
}
.appointment-creator-container
{
    @include display;
    width: 40%;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 20px;
  
}
.create-text
{
    margin-left: 5px;
}
