@import '../../../CommonStyles.scss';
.quotes-wrapper
{
    width:90%;
    height: 30vh;
    display: flex;
    color: black;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    border-top: 2px solid  #61affe;
}
.quotes
{
    padding-top: 5px;
    flex:1;
}
.quotes-static
{
    font-weight: bold;
    padding-top:10px ;
    flex: 1;
}
.quotes-author
{
    text-align: right;
    flex:1;
}
.quote-refresh-button
{
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    align-items: flex-end;
    border-radius: 18px;
    font-weight: bolder;
   @include blue-background;
    flex:1;
}