@import '../../../CommonStyles.scss';
.quotes-wrapper
{
    border-radius: 20px;
    width:90%;
    height: 30vh;
    display: flex;
    color: white;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    border: 2px solid white;
}
.quotes
{
    padding-top: 5px;
    flex:1;
}
.quotes-static
{
    font-weight: bold;
    padding-top:10px ;
    flex: 1;
}
.quotes-author
{
    text-align: right;
    flex:1;
}
.quote-refresh-button
{
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    align-items: flex-end;
    border-radius: 18px;
    border-color: black;
    font-weight: bolder;
    @include background;
    flex:1;
}