@import '../../../CommonStyles.scss';
.current-date-display-container
{
    @include display;
    justify-content: space-between;
    padding: 0 20px;
}
.arrow-icon,.arrow-icon-year
{
    cursor: pointer;
    font-weight: bolder;
    margin: 2px;
    border-radius: 50%;
    text-align: center;
    @include red-background;
}
.arrow-icon-year
{
    color: black;
    @include red-background;
    height: 40px;
    text-align: center;
    font-size: larger;
}
.route-buttons
{
    text-decoration: none;
    padding: 5px;
    font-weight: bolder;
    color: black;
    margin-right: 5px;
    @include orange-background;
    @include display;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}
.day
{
    font-size: 20px;
    width: 100px;
    padding-left: 10px;
    align-items: center;
    font-weight: bolder;
}
.date
{
    font-size: 18px;
    font-weight: bolder;
    @include display;
    cursor: pointer
}
.route-container
{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 769px) {
    .current-date-display-container 
    {
        width: 70%;
    }
}
@media screen and (max-width: 426px) {
    .current-date-display-container
    {
        width:95%;
        height: 8vh;
        font-size: 10px;
    }
    .arrow-icon-year
    {
        height: 20px;
    }
    .route-buttons
    {
        width: 50px;
    }
    
}