@import '../../../CommonStyles.scss';
.day-event-display-container{
    left: 0px;
    height: 79vh;
    background-color: white;
}
.time-grid
{
    display: flex;
}
.events-title-container
{
    background:#b42b74;
    color: white;
    border-left: 4px solid white;
    border-radius: 4px 20px 20px 20px !important; 
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    left: 55px;
    width: 550px;
}
.events-title{
    padding: 8px 5px;
    width: 100%;
    display: flex;
    text-align: left;
}
.events-display
{
    color: white;
    font-size: larger;
    padding: 0px;
    margin-left: 3px;
}
.static-time-text{
    display: block;
    list-style-type: none;
    width: 40px;
    height: 10px;
    text-align: right;
    font-size: 12px;
    font-weight: bolder;
    position: relative;
    bottom: 28px;
    right: 10px;
} 
.events-display-trash-icon
{
    padding: 10px;
    font-size: 15px;
}
.time-lines
{
    display: grid;
    width: 70%;
    height: 50px;
    position: relative;
    grid-template: 0px/auto;
    grid-row-gap: 0;
    border: 1px solid black;
    padding: 0px;
}
.events
{
    background-color: #afaeae;
}
.current-time-display
{
    position: relative;
    color:#ea4335;
    @include display;
    left: -5px;
    width: 750px;
    height: 2px;
}