@import '../../../CommonStyles.scss';
.event-schedular
{
  position:relative;
  background-color: white;
  height: 83vh;
}
.routes-pages
{
  overflow-y: scroll;
}
.event-schedular .popup
{
  position: absolute;
  background-color: white;
}
.routes-pages::-webkit-scrollbar {
  display: none;
}
.event-schedular .calendar
{
   width: 57%;
   background-color: white;
   border: 2px solid black;
   position: fixed;
   margin-left: 11px;
   color: black;
}
.event-schedular .week-days,.event-schedular .next-week-days,.event-schedular .suffix-space
{
  background-color: white;
  height: 88px;
  margin: 2px;
}
.event-schedular .week-days
{
  overflow-y: auto;
}
.event-schedular .week-days::-webkit-scrollbar {
  display: none;
}
.event-schedular .event-schedular{
  position: relative;
}
.event-schedular .grid-body
{
  height: 570px;
  bottom: 8px;
  background-color: white;
}
.event-schedular .week-days{
  margin-top: 3px;
}
 .week-days:hover
{
  color: black;
}
.event-schedular .true
{
  border-radius: 0px;
  border: 2px solid #b42b74;
  color: black;
  width: 30%;
  margin: auto;
    margin: auto;
    border-radius: 50%;
}
.event-schedular .date-number
{
    position: sticky;
    z-index: 1;
}
.event-schedular .date-number:hover
{
  background-color:pink;
  color: black;
  width: 30%;
  margin: auto;
  border-radius: 50%;
}
.event-schedular .calendar .event-name .events{
  display: block;
  color: white;
  cursor: pointer;
  background:#b42b74;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;

}
.event-schedular .calendar .grid-header
{
  display: none;
}
.event-schedular .calendar .days-of-week
{
    border-bottom: 1px solid #d4d4d4; 
 }
.event-schedular .calendar .week-days:hover
{
  background-color: white;
  border-radius: 5px;
}
@media screen and (max-width: 1025px)
{
  .event-schedular .calendar
  {
    width: 53%;
    height: 85vh;
  }
}
