@import '../../../CommonStyles.scss';
.event-schedular
{
  position:relative;
  background-color: white;
}
.routes-pages
{
  overflow-y: scroll;
}
.event-schedular .popup
{
  position: absolute;
  background-color: white;
}
.routes-pages::-webkit-scrollbar {
  display: none;
}
.event-schedular .calendar
{
   width: 58%;
   background-color: white;
   border: 2px solid #d4d4d4;
   height: 90vh;
   position: fixed;
   margin-left: 10px;
   color: black;
}
.event-schedular .week-days,.event-schedular .next-week-days,.event-schedular .suffix-space
{
  background-color: white;
  height: 90px;
  margin: 2px;
}
.event-schedular .week-days
{
  overflow-y: auto;
}
.event-schedular .week-days::-webkit-scrollbar {
  display: none;
}
.event-schedular .event-schedular{
  position: relative;
}
.event-schedular .grid-body
{
  height: 670px;
  bottom: 8px;
  background-color: white;
}
.event-schedular .week-days{
  margin-top: 3px;
}
 .week-days:hover
{
  color: black;
}
.event-schedular .date-number
{
    z-index: 6;
}
.event-schedular .true
{
  background-color: #61affe;
  border: 2px solid #ebf3fb;
  width: 25px;
}
.event-schedular .date-number:hover
{
  border: 2px solid black;
  color: black;
  width: 25px;
  border-radius: 50%;
}
.event-schedular .calendar .event-name .events{
  display: block;
  color: white;
  cursor: pointer;
 @include blue-background;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}
.event-schedular .next-week-days
{
 display: none;
}
.event-schedular .calendar .grid-header
{
  display: none;
}
.event-schedular .calendar .days-of-week
{
   font-weight: bolder;
   border-bottom: 1px solid #d4d4d4; 
}
.event-schedular .calendar .week-days:hover
{
  background-color: white;
  border-radius: 5px;
}
@media screen and (max-width: 1025px)
{
  .event-schedular .calendar
  {
    width: 53%;
    height: 85vh;
  }
}
@media screen and (max-width: 769px)
{
  .event-schedular .calendar
  {
    width: 70%;
  }
  .event-schedular .calendar .grid-body
  {
    height: 250px;
  }
  .event-schedular .calendar .currentDate
  {
    width: 13%;
    border-radius: 1px;
    position: absolute;
    border-color: orange;
    background: transparent;
    z-index: 0;
  }
  .event-schedular .calendar .event-name .events
  {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .event-schedular .calendar{
    width: 95%;
  }
}
