@import '../../../CommonStyles.scss';
.event-schedular
{
  position:relative;
  background-color: white;
  height: 80vh;
}
.routes-pages
{
  overflow-y: scroll;
}
.event-schedular .popup
{
  position: absolute;
  background-color: white;
}
.routes-pages::-webkit-scrollbar {
  display: none;
}
.event-schedular .calendar
{
   width: 53%;
   height: 78vh;
   background-color: white;
   position: fixed;
   margin-left: 11px;
   color:  #121B4F;
   
}
.event-schedular .week-days,.event-schedular .next-week-days,.event-schedular .suffix-space
{
  background-color: white;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-left: 1px solid white;
}

.event-schedular .calendar .week-days .events{
  display: block;
  @include background;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;

}
.event-schedular .event-schedular{
  position: relative;
}
.event-schedular .grid-body
{
  height: 80vh;
  position: relative;
  bottom: 8px;
  background-color: white;
}
.event-schedular .week-days{
  height: 15vh;
  margin-top: 3px;

}
 .week-days:hover
{
  color: black;
}
.event-schedular .true
{
  border-radius: 0px;
  color: white;
  height: 100%;
  @include background;
}
.event-schedular .calendar .grid-header
{
  display: none;
}
.event-schedular .calendar .days-of-week
{
    border-bottom: 1px solid #d4d4d4; 
 }
.event-schedular .calendar .week-days:hover
{
  background-color: white;
  border-radius: 5px;
}
