
.primary-daily-agenda
{
    border-radius: 10px;
    height: 80vh;
    overflow-y: scroll;
    margin: 10px;
}
.primary-daily-agenda::-webkit-scrollbar
{
    display: none;
}
.daily-agenda
{
    width: 250px;
    margin: 10px;
    padding: 10px;
    margin-left: 10px;
}