@import '../../CommonStyles.scss';
.hamburger-icon
{
    font-size: 20px;
    padding: 0px 20px;
    font-weight: lighter;
}
.top-navigation-bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    background: #B42B74;
    background: linear-gradient(to right, #B42B74 29%, #8544A2 52%, #3167E0 100%);
}
.search-box
{
    margin-right: 100px;
    @include display;
    padding: 3px;
}
.left-collections
{
    @include display;
}
.date
{
    padding-right: 20px;
}
.today-button
{
    margin-left: 20px;
    border: 2px solid #d4d4d4;
    padding: 5px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 20px;
}
.suggestion-box
{
    position:absolute;
    background-color: red;
}
.calendar-text
{
    font-weight: bolder;
    font-size: larger;
}