@import '../../CommonStyles.scss';
.hamburger-icon
{
    font-size: 20px;
    padding: 0px 20px;
    font-weight: lighter;
}
.top-navigation-bar
{
    display: flex;
    align-items: center;
    // padding-left: 10px;
    color:#034662;
    background-color: #FFFFFF;
}
.date
{
    background: white;
    padding-right: 20px;
}
.today-button
{
    margin-left: 20px;
    border: 2px solid #d4d4d4;
    padding: 5px;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    @include background;
    border-radius: 20px;
}
.calendar-text
{
    font-weight: bolder;
    font-size: larger;
}