.close-icon
{
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
}
.modal-popup
{
    position: relative;
    top: 50%;
    width: 550px;
    bottom: 50%;
    border-radius: 20px;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    // background-color: #216583;
    background-image:  url("calendar-template.jpg");

}
.buttons
{
    display: flex;
    text-align: end;
}
.input-field,.description-field
{
    width: 90%;
    // margin: 10px;
    margin: 10px;
    border: none;
    height: 35px;
    border-bottom: 1px solid gray;
    border-radius: 20px;
}
.input-fields
{
    display: flex;
    padding: 10px;
    align-items: center;
}
.input-fields label{
    // border: 2px solid black;
    width: 200px;
    color: black;
}
.input-body
{
    // width: 550px;
    height: 300px;
    // width: 50%;
}
.appointment-date-field,.app
{
    // margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 80%;
    // justify-content: center;
    // border: 2px solid black;
}
.labels
{
    width: 30%;
    // border: 2px solid black;
}
.primary-button-two
{
    padding: 5px;
    margin-top: 10px;;
   
    // justify-content: flex-end;
    // text-align: right;
    margin-left: 2%;
    background-color: white;
    border-color: #d4d4d4;
    border-radius: 10%;   
}
.primary-button{
    padding: 5px;
    margin-top: 10px;;
   
    // justify-content: flex-end;
    // text-align: right;
    margin-left: 70%;
    background-color: white;
    border-color: #d4d4d4;
    border-radius: 10%;
}
.primary-button:hover,.primary-button-two:hover
{
    background-color:  #216583;
}


