@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
@import '../CommonStyles.scss';
.xmark-icon
{
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
}
.event-creator-box
{
    position: relative;
    font-family: 'Lobster', cursive;
    width: 550px;
    border-radius: 20px;
    @include modal-popup;
}

.buttons
{
    display: flex;
    text-align: end;
}
.eventname-input-field,.description-input-field
{
    width: 90%;
    margin: 10px;
    border: none;
    padding: 8px;
    border-bottom: 1px solid gray;
    border-radius: 10px;
}
.eventname-input-field::placeholder,.description-input-field::placeholder{
    font-family: $fontFamily;
    padding: 2px;
    font-weight: bold;
    color: black;
}

.input-field
{
    display: flex;
    padding: 10px;
    align-items: center;
}
.input-field label{
    font-family: $fontFamily;
    font-size: 18px;
    width: 200px;
    color:  #42557A ;
}

.event-time-field
{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    padding: 5px;
}
.labels
{
    width: 30%;
}
.primary-button-left
{
    @include primary-button;
    margin-left: 2%;
    
}
.primary-button{
    @include primary-button;
   
}
.primary-button:hover,.primary-button-left:hover
{
    @include background;
}


