@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
@import '../CommonStyles.scss';
.modal-popup-daily-events
{
    position: absolute;
    border-radius: 3px 20px 20px 20px !important;
    @include modal-popup;
    width: 350px;
    height: 30vh;
    z-index: 1000;
    
}
.modal-popup-daily-events .event-creator-box
{
    position:absolute;
}
.popup-events
{
    font-family:$fontFamily;
    color: black;
    margin-bottom: 3px;
    display: flex;
    margin-left: 10px;
}
.popup-events label{
    font-family:$fontFamily;
    width: 80px;
    margin-right: 10px;
    color: $fontColor;
}
.events-icon
{
    @include display;
    align-items: flex-end;
    font-family: $fontFamily;
}
.icons-container
{
  margin: 10px 20px;
  text-align: right;
}
.trash-button
{
    margin-right: 10px;
}
.delete-alert-container,.delete-alert-container-popup
{
    padding-top: 80px;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
    justify-content: center;
}
.delete-alert-container-popup
{
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.delete-alert
{
    font-family: $fontFamily;
}