.time-display
{
    color: #216583;
    display: flex;
    justify-content: space-between;
//     background: #00c6ff;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // width: 100%;
}
.day-link,.month-link
{
   
}
.routeLink
{
    text-decoration: none;
    // border: 2px solid #d4d4d4;
    padding: 5px;
    font-weight: bolder;
    color: white;
    margin-right: 5px;
    background-color: #216583;
    border: 2px solid black;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}
.day
{
    font-size: 20px;
    padding-left: 10px;
    align-items: center;
    font-weight: bolder;
}
.date
{
    font-size: 18px;
    font-weight: bolder;
}
.route
{
    display: flex;
    justify-content: space-between;
}