.time-line-grid{
    
    
    left: 0px;
    background-color: white;
    
}
.events-title-blank
{
    background-color:#216583 ;
    // height: 20vh;
    // height: 3vh;
    padding: 2px;
    // margin-bottom: 5px;
    border-radius: 10px;
    position:relative;
    left: 10px;
    bottom: 15px;
    width: 200px;
}

.time-line
{
    display: flex;
}
.time-lines
{
    width: 0px;
    // display: none;
}
.events-title
{
    // border: 2px solid red;
    background-color:  #216583;
    color: white;
    // padding: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    position:relative;
    left: 10px;
    bottom: 15px;
    width: 200px;
}
.time-line-grid-text{
    display: block;
    list-style-type: none;
    width: 40px;
    height: 10px;
    text-align: right;
    font-size: 12px;
    // color: white;
    font-weight: bolder;
    position: relative;
    bottom: 25px;
    right: 40px;

} 
.grid-lines
{
    display: grid;
    width: 80%;
    // height: 50px;
    grid-template: 2px/auto;
    margin-left: 5px;
    // height: 2vh;
    border: 1px solid black;
    // border-radius: 10px;
    padding: 0px;
}
.events
{
    background-color: #afaeae;
}