@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto&display=swap');
@import './CommonStyles.scss';
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.App
{
 width: 100%;
background-repeat: no-repeat;
background-size: cover;
background: #E3E0FE;
background: linear-gradient(to top, #E3E0FE 21%, #B6C4FA 25%, #B6C4FA 57%, #CCC3F8 39%);
height: 100vh;
}
.primary-container
{
  margin: 30px;
  width:96%;
  position:fixed;
  height: 94vh;
  background-color:white;
}
.top-navigation-bar
{
  padding: 0px 0px;
  border-bottom: 3px solid  #121B4F;
  position:sticky;
  top: 1px;
  z-index: 1;
  width: 100%;
}
.container
{
  display:flex;
}
.left-component
{
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  @include background;
  position: sticky;
  top: 60px;
  height: 87vh;
 
}
.create-event-icon
{
    padding: 10px;
  
}
.fixed-calendar
{
   padding: 0px;
   margin-left: 5px;

}
.centre-component
{
  position: relative;
  border-radius: 20px;
  height: 78vh;
  top: 50px;
  background-color: white;
  flex-basis: 60%;
  margin-right: 25px;
}
.full-width-container
{
  position: absolute;
  top: 90px;
  left:0px;
  z-index: 10000;
  background-color: white;
  height: 100vh;
  width: 120%;
  flex-basis: 100%;
  .calendar{
      width: 120%;
  }

}
.current-date-display-container
{
  position: fixed;
  width: 53%;
  border-radius: 20px;
  z-index: 1000;
  border-bottom: 3px solid  #121B4F;
  top:84px;
  padding: 2px 0px;
}
.right-component
{
  position: sticky;
  top:80px;
  height: 87vh;
  flex-basis: 25%;
  @include background;

}