@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

$fontFamily: 'Roboto', sans-serif;
$fontColor:' #42557A';
$borderRadius: '4px 20px 20px 20px !important';
@mixin display {
    display:flex;
    align-items: center;
    justify-content: center;
}
@mixin background
{
    background: #BA2D7B;
    color: white;
    background: linear-gradient(to right, #BA2D7B 33%, #7318A6 75%);
    border-color: #d4d4d4;   
}
@mixin modal-popup
{
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    border-radius: $borderRadius;
    background-color: white;
}
@mixin primary-button
{
    padding: 5px;
    margin-bottom: 10px;
    font-family: $fontFamily;
    margin-left: 70%;
    border-radius: 10%;
    border-color: #d4d4d4;   
}

