@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

$fontFamily: 'Roboto', sans-serif;
$fontColor:' #42557A';
$borderRadius: '4px 20px 20px 20px !important';
@mixin display {
    display:flex;
    align-items: center;
    justify-content: center;
}
@mixin red-background
{
    background-color: #fae7e7;
    border: 1px solid #edaaaa;
}
@mixin modal-popup
{
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    border-radius: $borderRadius;
    @include blue-background;
}
@mixin primary-button
{
    padding: 5px;
    margin-bottom: 10px;
    font-family: $fontFamily;
    margin-left: 70%;
    margin-top: 10px;
    border-radius: 20px;
    @include blue-background;
     
}
@mixin blue-background
{
    background-color: #ebf3fb;
    border: 2px solid #61affe;
    color: black;
}
@mixin orange-background
{
    background:#fbf1e6;
    color:black;
    border: 1px solid #fca130;
}


